<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarkNotepad.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DarkNotepad.SettingsStylize" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DarkNotepad.Settings1>
            <setting name="SearchEngine" serializeAs="String">
                <value>DuckDuckGo</value>
            </setting>
            <setting name="CustomBrowserURL" serializeAs="String">
                <value />
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Arial, 12pt</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FindNextPrev" serializeAs="String">
                <value />
            </setting>
            <setting name="MatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Encode" serializeAs="String">
                <value>UTF-8</value>
            </setting>
            <setting name="PS_Margin1" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="PS_Margin2" serializeAs="String">
                <value>25, 25</value>
            </setting>
            <setting name="PS_Header" serializeAs="String">
                <value />
            </setting>
            <setting name="PS_Footer" serializeAs="String">
                <value />
            </setting>
            <setting name="PS_Portrait" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PS_Size" serializeAs="String">
                <value>A4</value>
            </setting>
            <setting name="CustomScrollbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportThemeDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportThemeDir" serializeAs="String">
                <value />
            </setting>
            <setting name="RightToLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddRegistryKey" serializeAs="String">
                <value>True</value>
            </setting>
        </DarkNotepad.Settings1>
        <DarkNotepad.SettingsStylize>
            <setting name="Background" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="Background_Highlight" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="Link" serializeAs="String">
                <value>130, 100, 255</value>
            </setting>
            <setting name="Link_Pressed" serializeAs="String">
                <value>70, 50, 205</value>
            </setting>
            <setting name="Button" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="Button_Highlight" serializeAs="String">
                <value>40, 40, 60</value>
            </setting>
            <setting name="Button_Pressed" serializeAs="String">
                <value>60, 60, 90</value>
            </setting>
            <setting name="Button_Text" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="Button_Unavailable" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="Button_Unavailable_Text" serializeAs="String">
                <value>100, 100, 100</value>
            </setting>
            <setting name="Button_Unavailable_Highlight" serializeAs="String">
                <value>50, 50, 50</value>
            </setting>
            <setting name="Button_Unavailable_Pressed" serializeAs="String">
                <value>75, 75, 75</value>
            </setting>
            <setting name="Button_Border" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="TextBox" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="TextBox_Text" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="Text_Error" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Scrollbar" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="Scrollbar_Icon_Background" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="Scrollbar_Tint" serializeAs="String">
                <value>25, 25, 25</value>
            </setting>
            <setting name="Scrollbar_Icon" serializeAs="String">
                <value>178, 178, 178</value>
            </setting>
            <setting name="Status_Splitter" serializeAs="String">
                <value>60, 60, 60</value>
            </setting>
            <setting name="Scrollbar_Icon_Tint" serializeAs="String">
                <value>25, 25, 25</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="Status_Text" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
        </DarkNotepad.SettingsStylize>
    </userSettings>
</configuration>