Version/1.0.2
Background/0,0,0
Background_Highlight/15,15,15
Text/2,230,0
Link/2,230,0
Link_Pressed/0,165,0
Button/0,0,0
Button_Highlight/15,15,15
Button_Pressed/0,0,0
Button_Text/2,230,0
Button_Unavailable/0,0,0
Button_Unavailable_Highlight/15,15,15
Button_Unavailable_Pressed/0,0,0
Button_Unavailable_Text/0,120,0
Button_Border/7,7,7
TextBox_Text/2,230,0
TextBox/0,0,0
Text_Error/255,0,0
Scrollbar/57,57,57
Scrollbar_Tint/22,22,22
Scrollbar_Icon/2,230,0
Scrollbar_Icon_Background/22,22,22
Scrollbar_Icon_Tint/57,57,57
Status/22,22,22
Status_Text/2,230,0
Status_Splitter/57,57,57
