Version/1.0.2
Background/10,14,17
Background_Highlight/16,20,20
Text/0,130,0
Link/91,154,0
Link_Pressed/70,120,0
Button/10,14,17
Button_Highlight/16,20,20
Button_Pressed/21,25,25
Button_Text/0,130,0
Button_Unavailable/10,14,17
Button_Unavailable_Highlight/13,17,17
Button_Unavailable_Pressed/17,21,21
Button_Unavailable_Text/0,70,0
Button_Border/10,14,17
TextBox_Text/240,240,240
TextBox/40,40,40
Text_Error/255,0,0
Scrollbar/13,16,19
Scrollbar_Tint/16,20,20
Scrollbar_Icon/91,154,0
Scrollbar_Icon_Background/16,20,20
Scrollbar_Icon_Tint/21,25,25
Status/16,20,20
Status_Text/91,154,0
Status_Splitter/22,26,26
